body {
    background-color: black;
    color: white;
}

.translater {
    &__heading {
        grid-column: 1 / -1;
        color:#2db0c6
    }
    &__language-1 {
        background-color: #2C2C2E;
        padding: 10px 25px;
        border-radius: 10px;
    }
    &__language-2 {
        background-color: #2C2C2E;
        padding: 10px 25px;
        border-radius: 10px;
    }
    &__output-1 {
        grid-column: 1 / -1;
        background-color: #2C2C2E;
        border-radius: 10px;
        width: 100%;
        min-height: 200px;
    }
    &__output-2 {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        background-color: #2C2C2E;
        border-radius: 10px;
        width: 100%;
        min-height: 200px;
    }
}