body {
  background-color: black;
  color: white;
}

.translater__heading {
  grid-column: 1/-1;
  color: #2db0c6;
}
.translater__language-1 {
  background-color: #2C2C2E;
  padding: 10px 25px;
  border-radius: 10px;
}
.translater__language-2 {
  background-color: #2C2C2E;
  padding: 10px 25px;
  border-radius: 10px;
}
.translater__output-1 {
  grid-column: 1/-1;
  background-color: #2C2C2E;
  border-radius: 10px;
  width: 100%;
  min-height: 200px;
  border: none;
  word-break: break-all;
  color: white;
}
.translater__output-1b {
  display: none;
  grid-column: 1/-1;
  background-color: #2C2C2E;
  border-radius: 10px;
  width: 100%;
  min-height: 200px;
  border: none;
  word-break: break-all;
  color: white;
}
.translater__output-2 {
  grid-row: 4/5;
  grid-column: 1/-1;
  background-color: #2C2C2E;
  border-radius: 10px;
  width: 100%;
  min-height: 200px;
  border: none;
  color: white;
}

.translater {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}